body{
    background-color: #030637;
    color: #720455;
}
a{
    color: #720455;
}
h3{
    margin-top: 3px;
   margin-bottom: 3px; 
}

input{
    background-color: #777777;
    color: whitesmoke;    
    border-radius: 7px;
}
input::placeholder{
    color: whitesmoke;
}

.imgShowPassword{
    position: relative;
    right: 27px;
    top: 6px;
}
.inputPassport{
    padding-right: 25px;
}
